*{
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.text-primary{
    color :#FD6E0A;
}

.header{
    background: black;
    background-image: url('../images/donation13.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      
}
nav{
    padding: 210px 420px ;
    margin: 0;
}
.nav-title{
    font-weight: 1900;
    font-size: 50px;
    align-items: center;
    color: white;
}
.nav-sub-title{

    margin-top: 20px;
    
    color: white;
}
.button-primary{
    color: cornsilk;
    font-size: 20px;
    font-weight: 500;
    height: 44px;
    border: 0;
    padding: 0px 15px;
    border-radius: 5px;
    background: #ef6053;
    
}
main{
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto;
   
}
section{
    margin-top: 90px;
   
    
}
.donate{
    text-align: center;
   
}
.section-title{
    margin-bottom: 20px;
    
}
.section-description{
  
  text-align: center;
  font-size: 20px; 
  margin-bottom: 10px; 
}
.donate-info-container{
    display: flex;
    justify-content:center;
    gap: 24px;
}
.donate-info{
    background-color: rebeccapurple;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
    padding: 30px;

}
.donate .info-title{
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-right: 10px;
}
